/* You can add global styles to this file, and also import other style files */

body {
    padding-top: 30px;
}

.xng-breadcrumb-root {
    padding: 8px 16px;
    display: inline;
    border-radius: 0;
    font-size: 1.3rem;
}

label.xng-breadcrumb-trail {
    margin-bottom: 0;
    color: #90e0ef;
}

.xng-breadcrumb-separator {
    padding: 0 0;
}