<carousel>
    <slide>
        <img src="assets/images/hero_1.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero_2.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero_3.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="container text-center">
        <h2 class="mt-3">Welcome to Negotium !</h2>
        <div class="row">
            <div class="col-md-4 p-3">
                <img src="images/tent-icon.png" alt="" class="img-fluid d-none d-md-inline" style="height: 150px;">
                <h3>Small Website</h3>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe adipisci, corporis maiores facere quis incidunt impedit consequatur magni cupiditate beatae quaerat vero! Nobis earum sed exercitationem.</p>
            </div>

            <div class="col-md-4 p-3">
                <img src="images/campfire-icon.png" alt="" class="img-fluid d-none d-md-inline" style="height: 150px;">
                <h3 class="mt-2">The Products You Crave</h3>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe adipisci, corporis maiores facere quis incidunt impedit consequatur magni cupiditate beatae quaerat vero! Nobis earum sed exercitationem.</p>
            </div>

            <div class="col-md-4 p-3">
                <img src="images/forest-icon.png" alt="" class="img-fluid d-none d-md-inline" style="height: 150px;">
                <h3>Listening To You</h3>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe adipisci, corporis maiores facere quis incidunt impedit consequatur magni cupiditate beatae quaerat vero! Nobis earum sed exercitationem.</p>
            </div>

        </div>

    </div>
</section>