<div class="container flex-column justify-content-center mt-5">
    <div class="row ">

        <div class="col-12">

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
                <app-text-input formControlName="password" [label]="'Password'" [type]="'Password'"></app-text-input>


                <button [disabled]="loginForm.invalid" class="btn btn-lg btn-success btn-block" type="submit ">
                Sign in
             </button>
            </form>
        </div>
    </div>
</div>